{% extends 'base.html.twig' %}

{% block title %}Create Product{% endblock %}

{% block body %}
    <h1 class="mb-3">Create Product</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}