{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <div class="container">  
        <h1>Welcome to my Symfony4 & Docker excercise.</h1>
        <p class="text-muted">Please Navigate Menu to test functionality.</p>
        <p class="text-info">Let's start creating a Product!</p>
    </div>
{% endblock %}
